
<% @post.comments.each do |comment|  %>

<p>
  <strong><%= t("comments.comment") %></strong>
  <%= comment.commentText %>
</p>

<p>
  <strong><%= t("comments.user") %></strong>
  <%= comment.user.email %>
</p>
<% end %>
