<script type="text/javascript">

  $(document).ready(function() {

    new_ajax_refresh("/refresh_posts", window.location.pathname, {}, 2000);

  });

</script>

<h1><%= t("post.posts") %></h1>

<br>

<%= link_to t("post.index.newpost"), new_post_path, id: "newPost", class: "cool" %>

<div class="postsBlock">

  <%= render "posts/index" %>

</div>
