/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div.inlineControls {

   display: inline;

   h2 {
     display: inline;
   }

 }

 a.cool {

   font-size: 15pt;
   text-decoration: none;
   border-color: black ;
   border-width: 2px;
   border-style: solid;
   padding: 3px;
   margin: 8px;

   border-radius: 2px;

 }

body {

  text-align: center;
  background-color: #F6F6F6;
  padding-left: 10px;
  font-size: 13pt;

}

strong.date {
  font-size: 11pt;
  float: right;

}

form {

  background-color: #E0E0E0;
  width: 60%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border-width: medium;
  border-style: solid;
  border-color: #000000;

  div {
    margin: auto;
  }


  label, input {

    font-size: 14pt;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    display: block;
    margin-top: 10px;

  }

  input, textarea {

    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #B0B0B0;

    padding: 5px;

  }

  input {
    width: auto;
  }

  textarea {
    width: 80%;
    height: 80px;
  }

}

div.flash {

  margin-top: 20px;
  width: 30%;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  border-width: medium;

  &#notice {

    border-color: green;
    font-size: 15pt;

  }

  &#alert {

    border-color: red;
    font-size: 20pt;

  }

  p {
    padding: 5px;
  }

}

footer {

  margin-top: 80px;

}

ul.navbar {

  list-style-type: none;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  background-color: #333;

  border-radius: 20px;

  div.left li {
    float: left;
  }

  div.right li {
    float: right;
  }

  div li {
    display: inline;
    margin: 4px;

    a {

      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 14pt;
      font-family: sans-serif;

      border-radius: 10px;

      &:hover {
        background-color: green;

      }

      &:active {
        background-color: #4CAF50;

      }
    }
  }
}
