// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1#welcome {

  padding: 30px;
  font-size: 40pt;
  font-family: serif;

}

p {

  font-size: 20pt;

}

select {

  font-size: 12pt;
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  border-style: solid;
  border-width: thin;
  border-color: #B0B0B0;


}

input#name {

  width: 80%;

}
