// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#title {

  width: 80%;

}

div.post {

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 90%;

  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding: 10px;

  text-align: left;

  strong {

    color: #707070;

    font-size: 12pt;
    margin-top: 10px;

  }

  p {

    &.title {
      text-align: center;
      font-size: 20pt;
      width: auto;
    }

    border-radius: 10px;
    background-color: #E5E5E5;
    font-size: 15pt;
    padding: 10px;

    white-space: pre-wrap;

  }

}

table {

  margin-top: 40px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  border-width: thin;
  border-color: black;
  border-style: solid;
  border-radius: 10px;

  tr {
    th {
      font-size: 15pt;
    }

    td {
      font-size: 13pt;
    }

  }

  tr:nth-child(even) {
    background-color: #E0E0E0;
  }

  a {
    font-size: 12pt;
  }

}

a#newPost {

  font-size: 20pt;
}
